main .form-control
{
    /* center form controls */
    display: inline-block;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

textarea
{
    resize: none;
}

/* for triple underlining 'c' in the title */
u1
{
  border-bottom: 1.2px solid;
  display: inline-block;
  line-height: 0.85;
  border-color: red;
}
u2
{
  border-bottom: 1.2px solid;
  display: inline-block;
  line-height: 1;
  border-color: red;
}
u3
{
  border-bottom: 1.2px solid;
  display: inline-block;
  line-height: 1.15;
  border-color: red;
}

/* https://stackoverflow.com/questions/40798669/star-rating-system-that-submits-on-click-without-javascript */
.star {
  border: 0;
  background: transparent;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  float: right;
  color: #a5a5a5;
}

.star:hover,
.star:hover + .star,
.star:hover + .star + .star,
.star:hover + .star + .star + .star,
.star:hover + .star + .star + .star + .star {
  color: gold;
}