{% extends "layout.html" %}

{% block title %}
    Capitalized
{% endblock %}

{% block main %}

    <form action="/" method="post">
        <div class="form-group">
            <textarea class="form-control" name="text" rows="10" cols="20">{{old_text}}</textarea>
        </div>
        <b>Capitalized text:</b>
        <div class="form-group">
            <textarea readonly class="form-control" name="capitalized" rows="10" cols="20">{{ new_text }}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-lg" type="submit" name="submit" value="capitalize">Capitalize it!</button>
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-lg" type="submit" name="submit" value="upload">Or upload file</button>
        </div>
        <!--  https://stackoverflow.com/questions/40798669/star-rating-system-that-submits-on-click-without-javascript with edits -->
        <fieldset align="right">
            <legend>How did we do?</legend>
            <input type="hidden" name="input">
            <div class="star">
                <button class="star" type="submit" name="rating" title="Perfect" value="5">&#9733;</button>
                <button class="star" type="submit" name="rating" title="Good" value="4">&#9733;</button>
                <button class="star" type="submit" name="rating" title="Okay" value="3">&#9733;</button>
                <button class="star" type="submit" name="rating" title="Bad" value="2">&#9733;</button>
                <button class="star" type="submit" name="rating" title="Horrible" value="1">&#9733;</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
